* {
    margin-left: 10px;
    font-family: Verdana, sans-serif;
}

img {
    width: 400px;
    height: 400px;
    margin-left: 0px;
}

.img-p {
    display: inline-block;
}

.description-div {
    margin-left: 0px;
    display: inline-block;
}

